<%= stylesheet_link_tag 'users_styles' %>
<div>
  <% @users.each do |user| %>
    <ul>
      <li><img src="<%= user.photo %>"></li>
      <div class="border"> 
      <li><%= link_to user.name, user_path(user) %></li>
        <p>Number of posts: <%= user.posts.count %></p>
      </div>
    </ul>
  <% end %>
</div>

